<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            padding: 3%;
            margin: 5% 25% 5% 25%;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Resultado</h2>
    <p>{{ Result }}</p>
    <form action="{{ url_for('main') }}" method="post">
        <textarea name="text" cols="80" rows="40"></textarea>
        <br>
        <button type="submit">Enviar</button>
    </form>


    
</body>
</html>