<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP Analysis Results</title>
</head>
<body>
    <h1>NLP Analysis Results</h1>
    <h1>OverAll Time: {{Time}}</h1>
    
    <h2>Text Complexity Measures</h2>
    <table border="1">
        <tr>
            <td>Amostras</td>
            <td>Sentence Length</td>
            <td>Word Length</td>
            <td>Lexical Density</td>
            <td>Lexical Diversity</td>
            <td>Tree Analysis</td>
        </tr>
        <tr>
            <td>Results:</td>
            <td>{{ Amostras.SentenceLength[0] }}</td>
            <td>{{ Amostras.WordLength[0] }}</td>
            <td>{{ Amostras.LexicalDensity[0] }}</td>
            <td>{{ Amostras.LexicalDiversity[0] }}</td>
            <td>{{ Amostras.Tree[0] }}</td>
        </tr>
        <tr>
            <td>Time:</td>
            <td>{{ Amostras.SentenceLength[1] }}</td>
            <td>{{ Amostras.WordLength[1] }}</td>
            <td>{{ Amostras.LexicalDensity[1] }}</td>
            <td>{{ Amostras.LexicalDiversity[1] }}</td>
            <td>{{ Amostras.Tree[1] }}</td>
        </tr>
    </table>
    <br>
    <table border="1">
        <tr>
            <td>Completo</td>
            <td>Sentence Length</td>
            <td>Word Length</td>
            <td>Lexical Density</td>
            <td>Lexical Diversity</td>
            <td>Tree Analysis</td>
        </tr>
        <tr>
            <td>Results:</td>
            <td>{{ Completo.SentenceLength[0] }}</td>
            <td>{{ Completo.WordLength[0] }}</td>
            <td>{{ Completo.LexicalDensity[0] }}</td>
            <td>{{ Completo.LexicalDiversity[0] }}</td>
            <td>{{ Completo.Tree[0] }}</td>
        </tr>
        <tr>
            <td>Time:</td>
            <td>{{ Completo.SentenceLength[1] }}</td>
            <td>{{ Completo.WordLength[1] }}</td>
            <td>{{ Completo.LexicalDensity[1] }}</td>
            <td>{{ Completo.LexicalDiversity[1] }}</td>
            <td>{{ Completo.Tree[1] }}</td>
        </tr>
    </table>

    <h2>Readability Metrics</h2>
    <table border="1">
        <tr>
            <td>Amostras</td>
            <td>SMOG</td>
            <td>Coleman</td>
            <td>Grade</td>
            <td>Reading</td>
            <td>ARI</td>
        </tr>
        <tr>
            <td>Results:</td>
            <td>{{ Amostras.Smog[0] }}</td>
            <td>{{ Amostras.Coleman[0] }}</td>
            <td>{{ Amostras.Grade[0] }}</td>
            <td>{{ Amostras.Reading[0] }}</td>
            <td>{{ Amostras.ARI[0] }}</td>
        </tr>
        <tr>
            <td>Time:</td>
            <td>{{ Amostras.Smog[1] }}</td>
            <td>{{ Amostras.Coleman[1] }}</td>
            <td>{{ Amostras.Grade[1] }}</td>
            <td>{{ Amostras.Reading[1] }}</td>
            <td>{{ Amostras.ARI[1] }}</td>
        </tr>
    </table>
    <br>
    <table border="1">
        <tr>
            <td>Completo</td>
            <td>SMOG</td>
            <td>Coleman</td>
            <td>Grade</td>
            <td>Reading</td>
            <td>ARI</td>
        </tr>
        <tr>
            <td>Results:</td>
            <td>{{ Completo.Read[4] }}</td>
            <td>{{ Completo.Read[3] }}</td>
            <td>{{ Completo.Read[0] }}</td>
            <td>{{ Completo.Read[1] }}</td>
            <td>{{ Completo.Read[2] }}</td>
        </tr>
        <tr>
            <td>Time:</td>
            <td>{{ Completo.Read[5] }}</td>
            <td>{{ Completo.Read[5] }}</td>
            <td>{{ Completo.Read[5] }}</td>
            <td>{{ Completo.Read[5] }}</td>
            <td>{{ Completo.Read[5] }}</td>
        </tr>
    </table>

    <h2>Sentiment Analysis</h2>
    <table border="1">
        <tr>
            <td>Amostras</td>
            <td>Negative</td>
            <td>Neutral</td>
            <td>Positive</td>
            <td>Compound</td>
        </tr>
        <tr>
            <td>Results:</td>
            <td>{{ Amostras.Sentiment[0] }}</td>
            <td>{{ Amostras.Sentiment[1] }}</td>
            <td>{{ Amostras.Sentiment[2] }}</td>
            <td>{{ Amostras.Sentiment[3] }}</td>
        </tr>
        <tr>
            <td>Time:</td>
            <td>{{ Amostras.Sentiment[4] }}</td>
        </tr>
    </table>
    <br>
    <table border="1">
        <tr>
            <td>Completo</td>
            <td>Negative</td>
            <td>Neutral</td>
            <td>Positive</td>
            <td>Compound</td>
        </tr>
        <tr>
            <td>Results:</td>
            <td>{{ Completo.Sentiment[0]['neg'] }}</td>
            <td>{{ Completo.Sentiment[0]['neu'] }}</td>
            <td>{{ Completo.Sentiment[0]['pos'] }}</td>
            <td>{{ Completo.Sentiment[0]['compound'] }}</td>
        </tr>
        <tr>
            <td>Time:</td>
            <td>{{ Completo.Sentiment[1] }}</td>
        </tr>
    </table>


    <!--

    <h2>Sentence Length Analysis</h2>
    <p>Sentence Length Amostras: {{ Amostras.SentenceLength[0] }} Time: {{ Amostras.SentenceLength[1] }}</p>
    <p>Sentence Length: {{ Completo.SentenceLength[0] }} Time: {{ Completo.SentenceLength[1] }}</p>

    <h2>Word Length Analysis</h2>
    <p>Word Length Amostras: {{ Amostras.WordLength[0] }} Time: {{ Amostras.WordLength[1] }}</p>
    <p>Word Length: {{ Completo.WordLength[0] }} Time: {{ Completo.WordLength[1] }}</p>

    <h2>Lexical Density Analysis</h2>
    <p>Lexical Density Amostras: {{ Amostras.LexicalDensity[0] }} Time: {{ Amostras.LexicalDensity[1] }}</p>
    <p>Lexical Density: {{ Completo.LexicalDensity[0] }} Time: {{ Completo.LexicalDensity[1] }}</p>

    <h2>Lexical Diversity Analysis</h2>
    <p>Lexical Diversity Amostras: {{ Amostras.LexicalDiversity[0] }} Time: {{ Amostras.LexicalDiversity[1] }}</p>
    <p>Lexical Diversity: {{ Completo.LexicalDiversity[0] }} Time: {{ Completo.LexicalDiversity[1] }}</p>

    <h2>Tree Analysis</h2>
    <p>Tree Depth Amostras: {{ Amostras.Tree[0] }} Time: {{ Amostras.Tree[1] }}</p>
    <p>Tree Depth: {{ Completo.Tree[0] }} Time: {{ Completo.Tree[1] }}</p>

    <h2>SMOG</h2>
    <p>SMOG Amostras: {{ Amostras.Smog[0] }} Time: {{ Amostras.Smog[1] }}</p>
    <p>SMOG: {{ Completo.Read[4] }} Time: {{ Completo.Read[5] }}</p>

    <h2>Coleman</h2>
    <p>Coleman Amostras: {{ Amostras.Coleman[0] }} Time: {{ Amostras.Coleman[1] }}</p>
    <p>Coleman: {{ Completo.Read[3] }}</p>

    <h2>Flesch Grade</h2>
    <p>Grade Amostras: {{ Amostras.Grade[0] }} Time: {{ Amostras.Grade[1] }}</p>
    <p>Grade: {{ Completo.Read[0] }}</p>

    <h2>Flesch Reading</h2>
    <p>Grade Amostras: {{ Amostras.Reading[0] }} Time: {{ Amostras.Reading[1] }}</p>
    <p>Grade: {{ Completo.Read[1] }}</p>

    <h2>ARI</h2>
    <p>ARI Amostras: {{ Amostras.ARI[0] }} Time: {{ Amostras.ARI[1] }}</p>
    <p>ARI: {{ Completo.Read[2] }}</p>

    <h2>Sentiment Analysis</h2>
    <p>Sentiment Score Amostras: Neg: {{ Amostras.Sentiment[0] }} Neu: {{ Amostras.Sentiment[1] }} Pos: {{ Amostras.Sentiment[2] }} Compound: {{ Amostras.Sentiment[3] }} Time: {{ Amostras.Sentiment[4] }}</p>
    <p>Sentiment Score: {{ Completo.Sentiment[0] }} Time: {{ Completo.Sentiment[1]}}</p>
    -->

</body>
</html>
